<div class="container">
  <h1 class="text-center">Welcome everybody!!</h1>
  <h2 class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h2>
  <a href="#" class="btn btn-success">Join us!</a>
</div>

